@import "vars";

@font-face {
  font-family: 'TTLakes';
  src: url("../fonts/TTLakes-Regular.woff") format('woff'),
  url("../fonts/TTLakes-Regular.ttf") format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'TTLakes';
  src: url("../fonts/TTLakes-Medium.woff") format('woff'),
  url("../fonts/TTLakes-Medium.ttf") format('ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'TTLakes';
  src: url("../fonts/TTLakes-Bold.woff") format('woff'),
  url("../fonts/TTLakes-Bold.ttf") format('ttf');
  font-weight: 700;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'TTLakes', sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  color: $text-all;
  background-color: $grey;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

//-----------------container-----------------


.main-container {
  width: 100%;
  height: 100vh;
  background-color: $grey;


  .container {
    display: flex;
    //justify-content: center;
    max-width: 1440px;
    margin: 0 auto;

    @media (max-width: 1440px) {
      display: block;
    }

    .content {
      max-width: 1120px;
      //margin: 0 auto;
      height: 100vh;
      padding-top: 5px;
      background-color: $grey;
      margin-left: 320px;

      @media (max-width: 1440px) {
        margin: 0 auto;
      }
    }

    .line-divider {
      content: "";
      display: block;
      background-color: $darkgrey;
    }

    .icon {
      display: block;
      width: 40px;
      min-height: 40px;
      fill: $text-hover;
      transition-property: fill, transform;
      transition-duration: 0.3s, 0.7s;

      &:hover {
        transform: scale(1.3);
      }
    }

    //-----------------header-----------------

    .menu {
      max-width: 1120px;
      min-height: 88px;
      background-color: $white;
      display: flex;
      justify-content: space-between;

      @media (min-width: 1440px) {
        display: none;
      }

      .sidebar-logo {
        display: flex;
        align-items: center;

        &__burger {
          margin: 0 16px;
          background: url("../img/burger.svg") no-repeat;

          @media (min-width: 768px) {
            margin: 0 20px 0 24px;
          }

          &:hover {
            fill: #B8FFEC;
          }
        }

        .divider-logo {
          @media (min-width: 768px) {
            background: url("../img/divider.svg") no-repeat 0 10px;
            padding-left: 20px;
          }
        }

        &__icon-logo {
          display: block;
          width: auto;
          min-height: 50px;
        }
      }

      .contact-repair {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .contact {
          width: 190px;
          display: none;
          justify-content: space-evenly;

          @media (min-width: 768px) {
            display: flex;
          }

          &__call {
            background: url("../img/call.svg");
          }

          &__chat {
            background: url("../img/chat.svg");
          }

          &__profile {
            background: url("../img/profile.svg");
          }
        }

        &__line-divider {
          width: 2px;
          height: 32px;
        }

        .repair {
          display: flex;
          justify-content: space-evenly;
          background: url("../img/divider.svg") no-repeat 0 4px;

          @media (min-width: 768px) {
            margin-right: 8px;
          }

          &__repair {
            background: url("../img/repair.svg");
            margin-left: 20px;
          }

          &__checkstatus {
            background: url("../img/checkstatus.svg");
            margin: 0 16px;
          }
        }
      }
    }

    //-----------------main-----------------

    .main-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 24px 0;

      @media (min-width: 1120px) {
        margin: 42px 0 15px;
      }

      .title {
        background: url("../img/highlight.svg") no-repeat;

        & h1 {
          font-size: 28px;
          margin-left: 12px;

          @media (min-width: 768px) {
            margin-left: 20px;
          }

          @media (min-width: 1120px) {
            margin-left: 32px;
          }
        }
      }

      .repair-link {
        display: none;

        @media (min-width: 1440px) {
          display: block;
          margin-right: 32px;
        }

        & a {
          padding: 10px 60px 10px 24px;
          text-decoration: none;
          color: $text-all;
          font-weight: 500;

          &:hover {
            color: $text-hover;
          }
        }

        &__repair {
          background: url("../img/repair.svg") no-repeat 99%;
        }

        &__checkstatus {
          background: url("../img/checkstatus.svg") no-repeat 99%;
        }
      }
    }

    .horizontal-tab {
      white-space: nowrap;
      max-width: 1120px;
      overflow: auto;
      overflow-x: scroll;
      margin: 0 16px;
      padding: 0;

      @media (min-width: 768px) {
        margin: 0 24px;
      }

      @media (min-width: 1120px) {
        overflow: hidden;
        white-space: normal;
        margin: 0 34px;
      }

      & li {
        display: inline-block;
      }

      &__item {
        color: $text;
        display: inline-block;
        padding: 6px 17px;
        letter-spacing: -0.2px;
        text-decoration: none;
        border-radius: $radius;
        border: 2px solid $grey;

        &:hover {
          border: 2px solid $button-border-hover;
          background-color: $white;
        }

        &--active {
          border: 2px solid $button-border;
          background-color: $white;
        }
      }
    }

    .text-image {
      margin-top: 16px;

      @media (min-width: 768px) {
        display: flex;
      }

      &__text {
        margin: 0 16px 16px;

        @media (min-width: 768px) {
          width: 50%;
          margin: 0 24px 16px;
        }

        @media (min-width: 1120px) {
          margin: 0 11px 16px 34px;
        }

        p {
          height: 90px;
          overflow: hidden;
          font-size: 14px;
          line-height: 18px;
          font-weight: 400;

          @media (min-width: 768px) {
            line-height: 20px;
            height: 160px;
          }
        }

        .read-more {
          display: inline-block;
          margin-top: 12px;
          padding-left: 27px;
          padding-top: 1px;

          font-size: 1rem;
          font-weight: 500;
          text-decoration: none;
          color: $text-all;

          background: url("../img/expand.svg") no-repeat;

          &:hover {
            color: $button-border-hover;
          }
        }
      }

      &__picture {

        @media (min-width: 768px) {
          width: 50%;
          margin: 0 25px;
        }

        & img {
          width: 100%;
          height: auto;

          @media (min-width: 768px) {
            border-radius: $radius;
          }
        }
      }
    }

    ////---------------------sidebar----------------------------
    //
    //.burger-menu {
    //
    //  .sidebar {
    //    //border: 1px solid red;
    //    z-index: 100;
    //
    //    @media (max-width: 1439px) {
    //      width: 320px;
    //      //height: 100%;
    //      padding: 0 24px;
    //      display: flex;
    //      position: fixed;
    //      left: 0;
    //      top: 0;
    //      overflow-x: hidden;
    //      height: 100vh;
    //      transition: 0.5s;
    //      transform: translateX(-100%);
    //      flex-direction: column;
    //
    //      background: $white;
    //      z-index: 100;
    //    }
    //    @media (min-width: 1440px) {
    //      display: flex;
    //      width: 320px;
    //      height: 100vh;
    //      position: fixed;
    //      padding: 0 24px;
    //      flex-direction: column;
    //      background: $white;
    //      z-index: 100;
    //    }
    //
    //    &--active {
    //      transform: translateX(0%);
    //      box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2);
    //    }
    //
    //
    //    //---------------------header----------------------------
    //
    //    .header {
    //      display: flex;
    //      align-items: center;
    //      justify-content: space-between;
    //
    //      .burger-logo {
    //
    //        display: flex;
    //        align-items: center;
    //        padding: 18px 0;
    //
    //
    //        &__item {
    //          margin-right: 16px;
    //          background: url("../img/burger-close.svg");
    //          @media (min-width: 1440px) {
    //            display: none;
    //          }
    //        }
    //
    //        &__logo {
    //          display: block;
    //          height: 52px;
    //          width: auto;
    //          text-decoration: none;
    //        }
    //      }
    //      .icon-search{
    //        background: url("../img/search.svg");     }
    //
    //    }
    //
    //    //---------------------main----------------------------
    //
    //    .sidebar-nav {
    //
    //      .sidebar-menu {
    //
    //        background-color: $white;
    //        margin: 0;
    //        padding: 0;
    //        list-style: none;
    //        font-size: 16px;
    //
    //        & a {
    //          text-decoration: none;
    //          display: block;
    //          padding: 16px 0;
    //          color: $text-all;
    //          transition-property: color, transform;
    //          transition-duration: 0.3s, 0.7s;
    //
    //          &:hover {
    //            color: $text-hover;
    //            transform: scale(1.2) translateX(30px);
    //          }
    //        }
    //
    //        &--active a {
    //          margin-left: -24px;
    //          background: url("../img/highlight-sidebar.svg") no-repeat 0 12px;
    //          padding-left: 24px;
    //          color: $text;
    //
    //          &:hover {
    //            transform: none;
    //            color: $text;
    //          }
    //        }
    //      }
    //    }
    //
    //    //---------------------footer----------------------------
    //
    //    .footer {
    //
    //      margin-top: auto;
    //      margin-bottom: 30px;
    //
    //      &__contact-icons {
    //        margin-bottom: 14px;
    //      }
    //
    //      .contact-icons {
    //        padding: 0;
    //
    //        &__chat {
    //          display: inline-block;
    //          margin-right: 14px;
    //          background: url("../img/chat.svg");
    //        }
    //        &__profile {
    //          display: inline-block;
    //          margin-right: 14px;
    //          background: url("../img/profile.svg");
    //        }
    //        &__call {
    //          display: inline-block;
    //          margin-right: 14px;
    //          background: url("../img/call.svg");
    //        }
    //      }
    //
    //      &__mail {
    //        display: block;
    //        font-weight: 500;
    //        text-decoration: none;
    //        color: $text-all;
    //        transition-duration: 0.7s;
    //
    //        &:hover {
    //          color: $text-hover;
    //        }
    //      }
    //
    //      &__phone {
    //        display: block;
    //        margin: 12px 0 40px;
    //        font-size: 24px;
    //        font-weight: 700;
    //        text-decoration: none;
    //        color: $text-all;
    //        transition-duration: 0.7s;
    //
    //        &:hover {
    //          color: $text-hover;
    //        }
    //      }
    //
    //      .languages {
    //
    //        &__button {
    //          display: inline-block;
    //          background: none;
    //          border: none;
    //          font-size: 1rem;
    //          font-weight: 500;
    //          color: $text-all;
    //          text-transform: uppercase;
    //          margin-right: 6px;
    //        }
    //
    //        input {
    //          display: none;
    //        }
    //
    //        input:checked ~ label {
    //          color: $text;
    //        }
    //      }
    //    }
    //
    //  }
    //
    //  .burger-menu__overlay {
    //    display: none;
    //    position: fixed;
    //    top: 0;
    //    left: 0;
    //    width: 100vw;
    //    height: 100vh;
    //    z-index: 10;
    //  }
    //
    //  &--active .burger-menu__overlay {
    //    display: block;
    //    background-color: rgba(255, 255, 255, 0.95);
    //    position: fixed;
    //    left: 0;
    //    width: 100vw;
    //    height: 100vh;
    //    z-index: 10;
    //  }
    //}

  }
}
