.owner-information-position{
  margin: 0 auto ;
}

.owner-information {
  background-color: $grey;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  font-size: 14px;
  line-height: 16px;
  color: $text;
  padding: 47px 16px 15px;

  @media (min-width: 768px) {
    padding: 67px 24px 15px;
  }

  @media (min-width: 1140px) {
    padding: 67px 28px 15px;
  }


  &__items {
    width: 30%;
    padding-bottom: 16px;
    @media (max-width: 767px) {
      width: 100%;
      text-align: center;
    }
  }

  @media (max-width: 767px) {
    flex-direction: column;
  }

  &__confidentiality{
      text-align: center;

  }

  &__availability{
    text-align: right;
    @media (max-width: 767px) {
      width: 100%;
      text-align: center;
    }
  }
}
