//---------------------sidebar----------------------------

.burger-menu {

  .sidebar {

    @media (max-width: 1439px) {
      width: 320px;
      padding: 0 24px;
      display: none;
      position: fixed;
      left: 0;
      top: 0;
      overflow-x: hidden;
      height: 100vh;
      transition: 1s;
      transform: translateX(-100%);
      flex-direction: column;

      background: $white;
      z-index: 4;
    }
    @media (min-width: 1440px) {
      display: flex;
      width: 320px;
      height: 100vh;
      position: fixed;
      padding: 0 24px;
      flex-direction: column;
      background: $white;
      z-index: 2;
    }

    @media (max-width: 360px) {
      width: 100%;
    }

    &-active {
      box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2);
      display: flex;
      transition: 0.5s;

      animation:moveSidebar 0.7s forwards;
    }

    @keyframes moveSidebar {
      from {
        transform: translateX(-100%);
      }
      to {
        transform: translateX(0%);
      }
    }

    //---------------------header----------------------------

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .burger-logo {

        display: flex;
        align-items: center;
        padding: 18px 0;


        &__item {
          margin-right: 16px;
          background: url("../img/burger-close.svg");
          @media (min-width: 1440px) {
            display: none;
          }
        }

        &__logo {
          display: block;
          height: 52px;
          width: auto;
          text-decoration: none;
        }
      }
      .icon-search{
        background: url("../img/search.svg");     }

    }

    //---------------------main----------------------------

    .sidebar-nav {

      .sidebar-menu {

        background-color: $white;
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 16px;

        & a {
          text-decoration: none;
          display: block;
          padding: 16px 0;
          color: $text-all;
          transition-property: color, transform;
          transition-duration: 0.3s, 0.7s;

          &:hover {
            color: $text-hover;
            transform: scale(1.2) translateX(30px);
          }
        }

        &--active a {
          margin-left: -24px;
          background: url("../img/highlight-sidebar.svg") no-repeat 0 12px;
          padding-left: 24px;
          color: $text;

          &:hover {
            transform: none;
            color: $text;
          }
        }
      }
    }

    //---------------------footer----------------------------

    .footer {

      margin-top: auto;
      margin-bottom: 30px;

      &__contact-icons {
        margin-bottom: 14px;
      }

      .contact-icons {
        padding: 0;

        &__chat {
          display: inline-block;
          margin-right: 14px;
          background: url("../img/chat.svg");
        }
        &__profile {
          display: inline-block;
          margin-right: 14px;
          background: url("../img/profile.svg");
        }
        &__call {
          display: inline-block;
          margin-right: 14px;
          background: url("../img/call.svg");
        }
      }

      &__mail {
        display: block;
        font-weight: 500;
        text-decoration: none;
        color: $text-all;
        transition-duration: 0.7s;

        &:hover {
          color: $text-hover;
        }
      }

      &__phone {
        display: block;
        margin: 12px 0 40px;
        font-size: 24px;
        font-weight: 700;
        text-decoration: none;
        color: $text-all;
        transition-duration: 0.7s;

        &:hover {
          color: $text-hover;
        }
      }

      .languages {

        &__button {
          display: inline-block;
          background: none;
          border: none;
          font-size: 1rem;
          font-weight: 500;
          color: $text-all;
          text-transform: uppercase;
          margin-right: 6px;
        }

        input {
          display: none;
        }

        input:checked ~ label {
          color: $text;
        }
      }
    }
  }

  .burger-menu__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
  }

  &-active .burger-menu__overlay {
    display: block;
    background-color: rgba(255, 255, 255, 0.95);
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
  }
}
